/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Initialization */
@font-face {
  font-family: "ZT Shago";
  src: url("../fonts/ZtShago-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/LufgaRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/LufgaMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/LufgaSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/LufgaBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Lufga", "ZT Shago", sans-serif;
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
  background-color: #ffffff;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background: rgba(10, 10, 10, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(10, 10, 10, 0.4);
}

/* Typography */
h1, h2, h3, h4, h5, h6, p, a, ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
}

.title, .title2, .sub_title, .sub_title2, .text, .regular_text {
  color: #3e3e3e;
  text-align: center;
}

.title, .title2 {
  font-family: "ZT Shago";
  font-weight: 700;
}

.title {
  font-size: 56px;
  line-height: 64px;
}

.title2 {
  font-size: 54.5px;
  line-height: 62.4px;
  letter-spacing: -5px;
  text-transform: capitalize;
}

.sub_title {
  font-family: "Lufga";
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  text-transform: capitalize;
}

.sub_title2 {
  font-family: "ZT Shago";
  font-size: 2rem;
  line-height: 2.2rem;
}

.text {
  font-family: "Lufga";
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.regular_text {
  font-family: "Lufga";
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.title span, .text span, .title2 span {
  color: #ff7f22;
}

/* Button Styles */
.global_btn {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  height: 47px;
  z-index: 1;
  transition: transform 0.3s ease;
}

.global_btn:hover {
  transform: scale(0.9);
}

.global_btn::after {
  content: "";
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.bg_orange { background-color: #ff9d56 !important; }
.bg_blue { background-color: #55ccff !important; }
.bg_green { background-color: #c6ff2a !important; }
.bg_yellow { background-color: #fbff47 !important; }
.bg_pink { background-color: #fc5c66 !important; }
.bg_purple { background-color: #4c7bed !important; }

/* Header Styles */
header {
  width: 100%;
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 9;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

header.scroll-active, header.dropdown-active {
  width: 100%;
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 9;
  transform: translateX(-50%);
}

header .main_navbarclass {
  margin: 0 auto;
  position: relative;
  padding: 12px;
  border-radius: 72px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 30px;
  white-space: nowrap;
  transition: backdrop-filter 0.3s ease;
}

header.dropdown-active .main_navbarclass {
  border-radius: 2rem 2rem 0 0;
}

header.scroll-active .main_navbarclass, header.dropdown-active .main_navbarclass {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 8;
}

header .logo {
  width: 100% !important;
  max-width: 150px !important;
  height: 50px !important;
}

header .logo img {
  width: 100% !important;
  max-width: 150px !important;
  height: 50px !important;
  object-fit: contain;
}

header nav.nav_links {
  display: flex;
}

header nav.nav_links ul {
  margin-right: 64px;
  display: flex;
  align-items: center;
  gap: 16px;
}

header nav.nav_links li {
  position: relative;
}

header nav.nav_links li::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ff9d56;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 100%;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

header nav.nav_links li:hover:after, header nav.nav_links li.active::after {
  transform: scale(1);
}

header nav.nav_links ul a {
  text-transform: capitalize;
}

header .global_btn, .sideBar .global_btn {
  width: 134px;
}

header .global_btn::after, .sideBar .global_btn::after {
  background-image: url("../images/svg/btn-bg.svg");
}

.hamburder_icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: none;
}

.hamburder_icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Dropdown Menu */
.dropdown_content {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0 0 40px 40px;
  z-index: 8;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

header .dropdown_content.active {
  visibility: visible;
  opacity: 1;
}

.dropdown_content ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 1rem;
  position: relative;
}

.dropdown_content li {
  border-radius: 31px;
  text-wrap: auto;
  overflow: hidden;
}

.dropdown_content a {
  padding: 1.5rem 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.dropdown_content .regular_text {
  line-height: 23px;
  font-weight: 400;
  text-transform: capitalize;
}

.dropdown_content h3.text {
  font-family: "Zt Shago";
  font-weight: 700;
}

.dropdown_content li div img:not(.dropdown_content li .bottom_icon img) {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.dropdown_content li .bottom_icon img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

/* Home Banner Section */
.home_banner {
  padding: 7rem 0;
  position: relative;
  overflow: hidden;
  transition: position .3s ease, box-sizing .3s ease;
}

.home_banner::before, .home_banner::after {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.home_banner::before {
  background-image: url("../images/svg/banner_before.svg");
  width: 126px;
  height: 160px;
  top: 10%;
  left: 0;
}

.home_banner::after {
  background-image: url("../images/svg/banner_after.svg");
  width: 150px;
  height: 150px;
  top: 20%;
  right: 0;
}

.home_banner .title {
  margin-bottom: 10px;
}

.home_banner .sub_title {
  text-align: center;
  color: #55ccff;
}

.home_banner .scroller .buttons_group {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 18%;
  transform: translateX(-50%);
  z-index: 2;
}

.home_banner .global_btn, .about_banner_sec .global_btn {
  width: 168px;
}

.home_banner .global_btn:nth-child(1):after, .about_banner_sec .global_btn:nth-child(1):after {
  background-image: url("../images/svg/get_touch.svg");
}

.home_banner .global_btn:nth-child(2):after, .about_banner_sec .global_btn:nth-child(2):after {
  background-image: url("../images/svg/live.svg");
}

/* Banner Slider Section */
.home_banner .scroller {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home_banner .slide-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
  overflow: hidden;
  padding-block: 2rem;
}

.home_banner .slide {
  position: absolute;
  width: 412px;
  height: 452px;
  border-radius: 32px;
  border: 2px solid #000000;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transform: rotate(0deg);
  transition: outline 0.3s ease;
}

.home_banner .slide .pack_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  padding: 2rem 1.5rem;
  position: relative;
}

.home_banner .slide .pack_div img:not(.right_icon img) {
  width: 96px;
  height: 96px;
  margin-bottom: 0.5rem;
  object-fit: contain;
}

.home_banner .slide .pack_div .right_icon {
  transform: rotate(25deg);
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.home_banner .slide .pack_div .right_icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home_banner .slide:nth-child(1) {
  background-color: #55ccff;
}

.home_banner .slide:nth-child(1) .pack_div img:not(.right_icon img) {
  transform: rotate(25deg);
}

.home_banner .slide:nth-child(2) {
  background: #c6ff2a;
}

.home_banner .slide:nth-child(2) .pack_div img:not(.right_icon img) {
  transform: rotate(5deg);
}

.home_banner .slide:nth-child(3) {
  background: #fbff47;
}

.home_banner .slide:nth-child(3) .pack_div img:not(.right_icon img) {
  transform: rotate(-5deg);
}

.home_banner .slide:nth-child(4) {
  background: #ff9d56;
}

.home_banner .slide:nth-child(4) .pack_div img:not(.right_icon img) {
  height: 73px;
  transform: rotate(-30deg);
}

.home_banner .slide:nth-child(5) {
  background: #fc5c66;
}

.home_banner .slide:nth-child(6) {
  background: #4c7bed;
}

.home_banner .slide:nth-child(6) .pack_div img:not(.right_icon img) {
  transform: rotate(15deg);
}

.home_banner .slide .pack_div::after {
  content: "";
  background-image: url("../images/svg/card_after.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -12%;
  right: -60px;
  transform: scale(0);
  transform-origin: center center;
  transition: transform 0.3s ease;
}

.home_banner .slide.outlined, .home_banner .slide:hover {
  outline: 2px solid #000000;
}

.home_banner .slide.outlined .pack_div::after, .home_banner .slide:hover .pack_div::after {
  transform: scale(1);
}

/* Footer Section */
footer {
  background-color: #1f1f1f;
  padding: 5rem 68px 0;
}

.get_touch_sec + footer {
  padding-top: 170px;
}

footer .row:nth-child(1) {
  border-bottom: 1px solid #c6ff2a;
  padding-bottom: 30px;
}

footer .footer_content {
  display: flex;
  flex-direction: column;
  gap: 67px;
}

footer .footer_content .f_logo {
  width: 100%;
  max-width: 400px;
  height: 84px;
  object-fit: cover;
}

footer .footer_content .f_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

footer .footer_content .sub_title {
  color: #fff;
  margin-bottom: 29px;
  font-family: "ZT Shago";
}

footer .text {
  color: #f2f2f2;
}

footer .global_btn {
  width: 168px;
}

footer .global_btn::after {
  background-image: url("../images/svg/footer_btn.svg");
}

.social_icons a, .provenResults_cards_wrapper .provenResults_card .card_right a {
  transition: transform 0.3s ease;
}

.social_icons a:hover, .provenResults_cards_wrapper .provenResults_card .card_right a:hover {
  transform: scale(0.9);
}

/* Get In Touch Section */
.get_touch_sec {
  position: relative;
  margin-bottom: -118px;
  padding: 10px 0 80px 0;
  background-color: #ffffff;
  border-radius: 0 0 60px 60px;
  z-index: 0;
  overflow: hidden !important;
}

.get_touch_sec::before, .get_touch_sec::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 1;
  animation: rotation 20s linear infinite;
}

.get_touch_sec::before {
  background-image: url("../images/get_touct_before.png");
  width: 293px;
  height: 283px;
  bottom: 90px;
  left: -100px;
}

.get_touch_sec::after {
  background-image: url("../images/get_touct_after.png");
  width: 356px;
  height: 356px;
  top: 0;
  right: 0;
}

.get_touch_sec .title {
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.get_touch_sec .text:not(.form_div .text) {
  text-align: center;
  margin-bottom: 5rem;
  text-transform: capitalize;
}

.get_touch_sec .text span {
  font-weight: 600;
}

.get_touch_sec .form_div {
  position: relative;
  z-index: 2;
  padding: 40px;
  border-radius: 20px;
  background-color: #1f1f1f;
}

.get_touch_sec .form_div .global_btn {
  width: 134px;
}

.get_touch_sec .form_div .global_btn::after {
  background-image: url("../images/svg/submit_btn.svg");
}

.get_touch_sec .form_div input, .get_touch_sec .form_div textarea {
  border: none;
  outline: none;
  font-size: 20px;
  line-height: 28px;
  color: #a0a0a0;
  padding: 14px 24px;
  border-radius: 10px;
  background-color: #ffffff;
  width: 100%;
}

/* SEO Section */
.seo_sec {
  padding: 0 150px 112px;
  position: relative;
}

.seo_sec .title {
  margin-bottom: 500px;
}

.seo_sec .cards_wrapper {
  display: grid;
  grid-template-columns: repeat(3/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font Initialization */
@font-face {
  font-family: "ZT Shago";
  src: url("../fonts/ZtShago-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/LufgaRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/LufgaMedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@-face {
  font-family: "Lufga";
  src: url("../fonts/LufgaSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lufga";
  src: url("../fonts/LufgaBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Lufga", "ZT Shago", sans-serif;
  scroll-behavior: smooth !important;
  overflow-x: hidden !important;
  background-color: #ffffff;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #f2f2f2;
}

::-webkit-scrollbar-thumb {
  background: rgba(10, 10, 10, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(10, 10, 10, 0.4);
}

/* Typography */
h1, h2, h3, h4, h5, h6, p, a, ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
}

.title, .title2, .sub_title, .sub_title2, .text, .regular_text {
  color: #3e3e3e;
  text-align: center;
}

.title, .title2 {
  font-family: "ZT Shago";
  font-weight: 700;
}

.title {
  font-size: 56px;
  line-height: 64px;
}

.title2 {
  font-size: 54.5px;
  line-height: 62.4px;
  letter-spacing: -5px;
  text-transform: capitalize;
}

.sub_title {
  font-family: "Lufga";
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;
  text-transform: capitalize;
}

.sub_title2 {
  font-family: "ZT Shago";
  font-size: 2rem;
  line-height: 2.2rem;
}

.text {
  font-family: "Lufga";
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}

.regular_text {
  font-family: "Lufga";
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
}

.title span, .text span, .title2 span {
  color: #ff7f22;
}

/* Button Styles */
.global_btn {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-transform: capitalize;
  color: #000000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  background-color: transparent;
  height: 47px;
  z-index: 1;
  transition: transform 0.3s ease;
}

.global_btn:hover {
  transform: scale(0.9);
}

.global_btn::after {
  content: "";
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.bg_orange { background-color: #ff9d56 !important; }
.bg_blue { background-color: #55ccff !important; }
.bg_green { background-color: #c6ff2a !important; }
.bg_yellow { background-color: #fbff47 !important; }
.bg_pink { background-color: #fc5c66 !important; }
.bg_purple { background-color: #4c7bed !important; }

/* Header Styles */
header {
  width: 100%;
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 9;
  transform: translateX(-50%);
  transition: all 0.5s ease;
}

header.scroll-active, header.dropdown-active {
  width: 100%;
  position: fixed;
  left: 50%;
  top: 0;
  z-index: 9;
  transform: translateX(-50%);
}

header .main_navbarclass {
  margin: 0 auto;
  position: relative;
  padding: 12px;
  border-radius: 72px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 4px 30px;
  white-space: nowrap;
  transition: backdrop-filter 0.3s ease;
}

header.dropdown-active .main_navbarclass {
  border-radius: 2rem 2rem 0 0;
}

header.scroll-active .main_navbarclass, header.dropdown-active .main_navbarclass {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  z-index: 8;
}

header .logo {
  width: 100% !important;
  max-width: 150px !important;
  height: 50px !important;
}

header .logo img {
  width: 100% !important;
  max-width: 150px !important;
  height: 50px !important;
  object-fit: contain;
}

header nav.nav_links {
  display: flex;
}

header nav.nav_links ul {
  margin-right: 64px;
  display: flex;
  align-items: center;
  gap: 16px;
}

header nav.nav_links li {
  position: relative;
}

header nav.nav_links li::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #ff9d56;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 100%;
  transform: scale(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

header nav.nav_links li:hover:after, header nav.nav_links li.active::after {
  transform: scale(1);
}

header nav.nav_links ul a {
  text-transform: capitalize;
}

header .global_btn, .sideBar .global_btn {
  width: 134px;
}

header .global_btn::after, .sideBar .global_btn::after {
  background-image: url("../images/svg/btn-bg.svg");
}

.hamburder_icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  display: none;
}

.hamburder_icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Dropdown Menu */
.dropdown_content {
  width: 100%;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 0 0 40px 40px;
  z-index: 8;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

header .dropdown_content.active {
  visibility: visible;
  opacity: 1;
}

.dropdown_content ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 1rem;
  position: relative;
}

.dropdown_content li {
  border-radius: 31px;
  text-wrap: auto;
  overflow: hidden;
}

.dropdown_content a {
  padding: 1.5rem 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.dropdown_content .regular_text {
  line-height: 23px;
  font-weight: 400;
  text-transform: capitalize;
}

.dropdown_content h3.text {
  font-family: "Zt Shago";
  font-weight: 700;
}

.dropdown_content li div img:not(.dropdown_content li .bottom_icon img) {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.dropdown_content li .bottom_icon img {
  width: 32px;
  height: 32px;
  object-fit: cover;
}

/* Home Banner Section */
.home_banner {
  padding: 7rem 0;
  position: relative;
  overflow: hidden;
  transition: position .3s ease, box-sizing .3s ease;
}

.home_banner::before, .home_banner::after {
  content: "";
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.home_banner::before {
  background-image: url("../images/svg/banner_before.svg");
  width: 126px;
  height: 160px;
  top: 10%;
  left: 0;
}

.home_banner::after {
  background-image: url("../images/svg/banner_after.svg");
  width: 150px;
  height: 150px;
  top: 20%;
  right: 0;
}

.home_banner .title {
  margin-bottom: 10px;
}

.home_banner .sub_title {
  text-align: center;
  color: #55ccff;
}

.home_banner .scroller .buttons_group {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 18%;
  transform: translateX(-50%);
  z-index: 2;
}

.home_banner .global_btn, .about_banner_sec .global_btn {
  width: 168px;
}

.home_banner .global_btn:nth-child(1):after, .about_banner_sec .global_btn:nth-child(1):after {
  background-image: url("../images/svg/get_touch.svg");
}

.home_banner .global_btn:nth-child(2):after, .about_banner_sec .global_btn:nth-child(2):after {
  background-image: url("../images/svg/live.svg");
}

/* Banner Slider Section */
.home_banner .scroller {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.home_banner .slide-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: top;
  overflow: hidden;
  padding-block: 2rem;
}

.home_banner .slide {
  position: absolute;
  width: 412px;
  height: 452px;
  border-radius: 32px;
  border: 2px solid #000000;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transform: rotate(0deg);
  transition: outline 0.3s ease;
}

.home_banner .slide .pack_div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  padding: 2rem 1.5rem;
  position: relative;
}

.home_banner .slide .pack_div img:not(.right_icon img) {
  width: 96px;
  height: 96px;
  margin-bottom: 0.5rem;
  object-fit: contain;
}

.home_banner .slide .pack_div .right_icon {
  transform: rotate(25deg);
  width: 32px;
  height: 32px;
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.home_banner .slide .pack_div .right_icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home_banner .slide:nth-child(1) {
  background-color: #55ccff;
}

.home_banner .slide:nth-child(1) .pack_div img:not(.right_icon img) {
  transform: rotate(25deg);
}

.home_banner .slide:nth-child(2) {
  background: #c6ff2a;
}

.home_banner .slide:nth-child(2) .pack_div img:not(.right_icon img) {
  transform: rotate(5deg);
}

.home_banner .slide:nth-child(3) {
  background: #fbff47;
}

.home_banner .slide:nth-child(3) .pack_div img:not(.right_icon img) {
  transform: rotate(-5deg);
}

.home_banner .slide:nth-child(4) {
  background: #ff9d56;
}

.home_banner .slide:nth-child(4) .pack_div img:not(.right_icon img) {
  height: 73px;
  transform: rotate(-30deg);
}

.home_banner .slide:nth-child(5) {
  background: #fc5c66;
}

.home_banner .slide:nth-child(6) {
  background: #4c7bed;
}

.home_banner .slide:nth-child(6) .pack_div img:not(.right_icon img) {
  transform: rotate(15deg);
}

.home_banner .slide .pack_div::after {
  content: "";
  background-image: url("../images/svg/card_after.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -12%;
  right: -60px;
  transform: scale(0);
  transform-origin: center center;
  transition: transform 0.3s ease;
}

.home_banner .slide.outlined, .home_banner .slide:hover {
  outline: 2px solid #000000;
}

.home_banner .slide.outlined .pack_div::after, .home_banner .slide:hover .pack_div::after {
  transform: scale(1);
}

/* Footer Section */
footer {
  background-color: #1f1f1f;
  padding: 5rem 68px 0;
}

.get_touch_sec + footer {
  padding-top: 170px;
}

footer .row:nth-child(1) {
  border-bottom: 1px solid #c6ff2a;
  padding-bottom: 30px;
}

footer .footer_content {
  display: flex;
  flex-direction: column;
  gap: 67px;
}

footer .footer_content .f_logo {
  width: 100%;
  max-width: 400px;
  height: 84px;
  object-fit: cover;
}

footer .footer_content .f_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

footer .footer_content .sub_title {
  color: #fff;
  margin-bottom: 29px;
  font-family: "ZT Shago";
}

footer .text {
  color: #f2f2f2;
}

footer .global_btn {
  width: 168px;
}

footer .global_btn::after {
  background-image: url("../images/svg/footer_btn.svg");
}

.social_icons a, .provenResults_cards_wrapper .provenResults_card .card_right a {
  transition: transform 0.3s ease;
}

.social_icons a:hover, .provenResults_cards_wrapper .provenResults_card .card_right a:hover {
  transform: scale(0.9);
}

/* Get In Touch Section */
.get_touch_sec {
  position: relative;
  margin-bottom: -118px;
  padding: 10px 0 80px 0;
  background-color: #ffffff;
  border-radius: 0 0 60px 60px;
  z-index: 0;
  overflow: hidden !important;
}

.get_touch_sec::before, .get_touch_sec::after {
  content: "";
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 1;
  animation: rotation 20s linear infinite;
}

.get_touch_sec::before {
  background-image: url("../images/get_touct_before.png");
  width: 293px;
  height: 283px;
  bottom: 90px;
  left: -100px;
}

.get_touch_sec::after {
  background-image: url("../images/get_touct_after.png");
  width: 356px;
  height: 356px;
  top: 0;
  right: 0;
}

.get_touch_sec .title {
  margin-bottom: 1.5rem;
  text-transform: capitalize;
}

.get_touch_sec .text:not(.form_div .text) {
  text-align: center;
  margin-bottom: 5rem;
  text-transform: capitalize;
}

.get_touch_sec .text span {
  font-weight: 600;
}

.get_touch_sec .form_div {
  position: relative;
  z-index: 2;
  padding: 40px;
  border-radius: 20px;
  background-color: #1f1f1f;
}

.get_touch_sec .form_div .global_btn {
  width: 134px;
}

.get_touch_sec .form_div .global_btn::after {
  background-image: url("../images/svg/submit_btn.svg");
}

.get_touch_sec .form_div input, .get_touch_sec .form_div textarea {
  border: none;
  outline: none;
  font-size: 20px;
  line-height: 28px;
  color: #a0a0a0;
  padding: 14px 24px;
  border-radius: 10px;
  background-color: #ffffff;
  width: 100%;
}

/* SEO Section */
.seo_sec {
  padding: 0 150px 112px;
  position: relative;
}

.seo_sec .title {
  margin-bottom: 500px;
}

.seo_sec .cards_wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;